# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage

# node-waf configuration
.lock-wscript

# Dependency directory
node_modules

# Compiled JS directory
/dist/*
!/dist/iexec.js

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Python virtualenv
app/ENV

# local files
app/images
app/out.txt
app/out.mp3

# my scripts
app/docker_run.sh
app/run.sh